/*
///////////////
/// COMMONS////
///////////////
*/

body {
    padding-bottom: 40px;
}

.container {
  
}

.sortby{
    display: inline-block;
}

.posts-list {
    thead {}
    tbody {
        background-color: $components-bg-1;
        display: flex;
        flex-wrap: wrap;
        tr {}
    }
}

.posts-list > thead {
    display: none;
}




// Caixinha - A Post component box in the post list boxes
.posts-list > tbody > tr {
    @extend %post-box;
}


.form-signin {
    max-width: 520px;
    padding: 30px 29px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    width: 310px;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.checkbox {
    font-weight: normal;
}

#search_list li {
    list-style: none;
}

#search_list {
    padding-left: 0px;
    max-height: 400px;
    overflow-y: scroll;
    width: 340px;
}

.mini-submenu {
    display: none;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 9px;
    /*position: relative;*/
    width: 42px;
}

.mini-submenu:hover {
    cursor: pointer;
}

.mini-submenu .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
}

.mini-submenu .icon-bar {
    background-color: #000;
}

#slide-submenu {
    background: rgba(0, 0, 0, 0.45);
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
}


